<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<link rel="stylesheet" href="/hack.css" />
		<link rel="stylesheet" href="/gruvbox-dark.css"
							   />
		<style>
.gruvbox-dark {
	padding: 20px 10px;
}

	 img {
		 max-width: 100%;
		 padding: 1em;
	 }
		</style>


		<title>  RyanMcConville.com | Blog </title>
		<meta name = "description" content="Ryan McConville: Machine Learner and Data Scientist." />
	</head>
	<body class="snow hack gruvbox-dark">
		<div class="container">
			<div id="header">
				<h1>Ryan McConville</h1>
				<h3><a href="/">About</a>  <a href="/blog">Blog</a>  <a href="/photos">Photos</a></h3>

			</div>
			<div id="content">
				{{post}}

			</div>

		</div>


	</body>
</html>
